extends layout

block content
    script(src="/src/tableEditor.js", defer="true")
    script(src="/src/input.js", defer="true")
    script(src="/src/export.js", defer="true")
    script window.sessionStorage.rows = #{table.table.length}
    script window.sessionStorage.cols = #{table.table[0].length}
        
    table
        tbody#tableBody
            each row in table.table
                tr
                    each item in row
                        td
                            if (!item.hasOwnProperty("cont"))
                                b.name= item.name
                                br
                                span.duration #{item.start} - #{item.end}
                                br
                                span.location=item.location
                            else
                                | #{item.cont}
                        
    script(src="/src/init.js", defer="true")
    script $("document").ready(function () { window.vars.tableName = "#{table.settings.name}" } );
    //- Each TD Item needs a UNIQUE ID
    // This needs to be here because pug.js does not support itterating while maintaining the iterator index.
    // So seperate ID's need to be given post-render.

    .periodEditor
        .name
            input(placeholder="Period Title")#periodName
            label(for="name") Period Name
        .time
            .start
                .timePicker#start
                label(for="start") Start Time
            br
            .end
                .timePicker#end
                label(for="end") End Time
            br
        .location
            input(placeholder="Location")#location
            label(for="location") Location
        .toolbar
            button#save Save
            
    
    #settings
        .toolbar
            button#showSettings Show Settings
        #controls
            .displayName
                input#displayName
                label(for="displayName") What the table will be displayed as
            ul.activeDays
                li
                    input(type="checkbox")#mon
                    label(for="mon") Mon
                li
                    input(type="checkbox")#tue
                    label(for="tue") Tue
                li
                    input(type="checkbox")#wed
                    label(for="web") Wed
                li
                    input(type="checkbox")#thu
                    label(for="thu") Thu
                li
                    input(type="checkbox")#fri
                    label(for="fri") Fri
                li
                    input(type="checkbox")#sat
                    label(for="sat") Sat
                li
                    input(type="checkbox")#sun
                    label(for="sub") Sun
            .size
                input(type="number", value=table.table.length, min="1", max="20")#rows
                | Rows
                br
                input(type="number", value=table.table[0].length, min="1", max="20")#cols
                | Columns

            .notifications
                .Priority
                    input(type="radio", name="notification")#pri
                    label(for="pri") Prioritise Notifications
                .mute
                    input(type="radio", name="notification")#mut
                    label(for="mut") Mute Notifications
                .standard
                    input(type="radio", name="notification", checked)#std
                    label(for="std") Standard Notifications
